#naglowek{
    background-color: darkseagreen;
}
nav{
    background-color: mistyrose;
}

.glowna{
    background-color: darkgoldenrod;
    width: 66%;
}

section{
    background-color: burlywood;
    align-items: center;
}

.aside{
    background-color: mediumvioletred;
    width: 34%;
    margin: 0;
    padding: 0;
}

footer{
    background-color: palegreen;
}

nav ul, nav li{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    width: 33%;
}

html, body{
    margin: 0;
}

a{
    display: inline-block;
    width: 100%;
    align-items: center;
}

a:hover{
    color: indianred;
    background-color: saddlebrown;
}

p{
    margin: 0;
    padding: 20px;
    text-align: center;
}

.flex
{
    display: flex;
    flex-direction: row;
}

